<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Contacts</h1><a><button class="btn btn-success">New Contact</button> </a>
      </div>
      <div class="panel-body">

        <hr>
        <div class="row">
          <div class="col-xs-12">
            <!-- () give me something from output event emitter -->
            <!-- [] give me something from an input -->
           <cms-contact-item  
           *ngFor="let contact of contacts"
           [contact]="contact"
           (contactWasSelected)="onSelected(contact)">
          </cms-contact-item>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
